.fs-14 {
    font-size: 1.4rem;
}

.fs-16 {
    font-size: 1.6rem;
}

.fs-18 {
    font-size: 1.8rem;
}

.fs-20 {
    font-size: 2rem;
}

.fs-25 {
    font-size: 2.5rem;
}

.fs-55 {
    font-size: 5.5rem;
}

.lh-30 {
    line-height: 3rem;
}

.lh-28 {
    line-height: 2.8rem;
}

.lh-24 {
    line-height: 2.4rem;
}

.fw-400 {
    font-weight: 400;
}

.fw-600 {
    font-weight: 600;
}

.mt-65 {
    margin-top: 6.5rem;
}

.mt-60 {
    margin-top: 6rem;
}

.txt-dark-color {
    color: #1b264d;
}