@import 'atomic';

html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.h1 {
    margin-bottom: 4rem;
}

.modal {
    text-align: center;
    position: relative;
    top: 0;
    z-index: 4;
    display: none;
    // transform: translateY(-100%);
    visibility: hidden;
    width: 100%;
    height: 50vh;
    transition: all .5s 2s;
    background-color: black;
    
    & ul {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-60%, -50%);
        list-style: none;
        display: flex;
        flex-direction: column;
        & li {
            padding: 2rem 0;
        }
        & li a {
            font-size: 3rem;
            color: #fff;
        }
        
    }

}

.show-modal {
    display: block;
    visibility: visible;
    transition: all .5s 2s;
}

.link {
    position: relative;
    &::before {
        visibility: hidden;
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: -7px;
        background-color: #354a9e;
    }
    &:hover::before {
        visibility: visible;
    }
}

.active {
    transform: translateY(-100%);
}



.success-message {
    display: none;
    flex: 1 1 50%;
    justify-self: center;
    align-self: center;
    & img {
        width: 50%;
    }    
}

.title {
    color: #354a9e;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 30px;
    position: relative;
    &::before {
        position: absolute;
        top: -20px;
        left: 0;
        transform: translateX(-50%);
        content: "";
        width: 70px;
        height: 2px;
        background-color: #354a9e;
    }
    &::after {
        position: absolute;
        bottom: -20px;
        right: 0;
        transform: translateX(50%);
        content: "";
        width: 70px;
        height: 2px;
        background-color: #354a9e;
    }
}

.title_about {
    color: #fff;
    &::before {
        background-color: #fff;
    }
    &::after {
        background-color: #fff;
    }
}

.wrapper {
    width: 1140px;
    margin: 0 auto;
}

header {
    background-color: #fff;
    position: fixed;
    width: 100%;
    height: 9rem;
    z-index: 5;
    transition: all .5s;
    & nav {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 1.5rem 0;
        & .burger-icon {
            display: none;
            font-size: 3rem;
            cursor: pointer;
        }
        & img {
            align-self: center;
            width: 100px;
            height: 59px;
        }
        & ul {
            padding: 5px;
            list-style: none;
            & li {
                margin-left: 3rem;
                display: inline-block;
                & a {
                    color: #8a8a8a;
                }
            }
        }
    }
}

.main {
    padding-top: 9rem;
    width: 100%;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    &__content {
        padding: 22rem 0 29rem 0;
        text-align: left;
        color: #fff;
    }
    &__toggle {
        width: 25px;
        height: 45px;
        border: 1px solid white;
        border-radius: 20px 20px;
        margin-top: 15.5rem;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        & > img {
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translateX(-50%);
            width: 4px;
            height: 8px;
            transition: all 0.5s;
        }
        &:hover img {
            top: 25px;
        }
    }
}

.services {
    width: 100%;
    &__content {
        text-align: center;
        padding: 11rem 0 9.5rem 0;
    }
    &__flex {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        &-item {
            flex: 1 1 25%;
            & > img {
                width: 77px;
                height: 77px;
            }
            & > p {
                margin-top: 3rem;
                font-size: 2rem;
                font-weight: 600;
                font-style: italic;
                line-height: 22px;
                color: #354a9e;
            }
        }
    }
}

.about {
    width: 100%;
    background-image: url(../img/counter-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &__content {
        padding: 9rem 0 11rem 0;
        text-align: center;
        & p {
            margin-top: 3.5rem;
            color: #fff;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 24px;
        }
        & p:first-child {
            margin-top: 5.5rem;
        }
    }
}

.contact {
    width: 100%;
    background-color: #f9f9f9;
    &__content {
        padding: 80px 0 110px 0;
        text-align: center;
    }
    &__flex {
        margin-top: 7.5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
        &-map {
            flex: 1 1 50%;
            padding-right: 2rem;
        }
        & form {
            box-sizing: border-box;
            flex: 1 1 50%;
            padding-left: 1.5rem;
            & .error {
                outline: none;
                border: 1px solid #c61304;
                border-radius: 5px;
            }
            & input {
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                font-family: 'Montserrat', sans-serif;
                padding: 15px 30px;
                margin-bottom: 1.5rem;
                box-sizing: border-box;
                width: 100%;
                border: 1px solid #354a9e;
                border-radius: 5px;
                background-color: #fff;
                &::placeholder {
                    color:  #a9a9a9;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                }
                &:focus {
                    outline: none;
                    border: 1px solid #728eff;
                    border-radius: 5px;
                }
            }
            & textarea {
                font-family: 'Montserrat', sans-serif;
                resize: none;
                padding: 15px 30px;
                margin-bottom: 3rem;
                box-sizing: border-box;
                width: 100%;
                border: 1px solid #354a9e;
                border-radius: 5px;
                background-color: #fff;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                
                &::placeholder {
                    font-family: 'Montserrat', sans-serif;
                    color:  #a9a9a9;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                }
                &:focus {
                    outline: none;
                    border: 1px solid #728eff;
                    border-radius: 5px;
                }
            }
            & .btn {
                cursor: pointer;
                border-style: none;
                outline: none;
                float: right;
                text-transform: uppercase;
                border-radius: 10px;
                background-color: #354a9e;
                width: 130px;
                height: 50px;
                color:  #f9f9f9;
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
                transition: all 0.5s;
                &:hover {
                    color: #354a9e;
                    background-color: transparent;
                    border: 1px solid #354a9e;
                }
            }
        }
    }
}

.footer {
    width: 100%;
    background-color: #131b36;
    &__content {
        padding: 6rem 0;
        text-align: center;
        & ul {
            margin: 0;
            list-style: none;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            & li {
                margin-right: 3rem;
                & a {
                    color: #fff;
                }
            }
            & li:last-child {
                margin-right: 0;
            }
        }
        & p {
            margin-top: 3rem;
            color: #fff;
        }
    }
}

@media (min-width: 1921px) {
    html {
        font-size: 14px;
    }

    .wrapper {
        width: 1400px;
    }
}

@media (max-width: 1680px) {
    html {
        font-size: 9px;
    }

    .wrapper {
        width: 980px;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 9px;
    }

    .wrapper {
        width: 768px;
    }
}

@media (min-width: 568px) and (max-width: 768px) {
    html {
        font-size: 8px;
    }

    .wrapper {
        width: 550px;
    }

    .h1 {   
        line-height: 5.8rem;
    }

    header {
        & nav {
            & img {
                align-self: center;
                width: 50px;
                height: 29px;
            }
        }
    }

    .services {
        &__flex {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
        }
    }

    .contact {
        &__flex {
            flex-direction: column;
            &-map {
                flex: 1 1 100%;
                padding-right: 0;
                padding-bottom: 30px;
            }
            & form {
                
                flex: 1 1 100%;
                padding-left: 0;
                & .btn {
                    float: auto;
                }
            }
        }
    }

    .footer {
        &__content {
            & ul {
                flex-wrap: wrap;
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 567px) {
    html {
        font-size: 7px;
    }

    .wrapper {
        width: 90%;
    }

    .h1 {
        line-height: 5.8rem;
    }

    header {
        height: auto;
        & nav {
            & .burger-icon {
                display: block;
            }
            & ul {
                display: none;
            }
            & img {
                align-self: center;
                width: 50px;
                height: 29px;
            }
        }
    }

    .services {
        &__flex {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
        }
    }

    .contact {
        &__flex {
            flex-direction: column;
            &-map {
                flex: 1 1 100%;
                padding-right: 0;
                padding-bottom: 30px;
            }
            & form {
                flex: 1 1 100%;
                padding-left: 0;
                & .btn {
                    float: auto;
                }
            }
        }
    }
    .footer {
        &__content {
            & ul {
                font-size: 2rem;
                flex-wrap: wrap;
                & li {
                    padding-bottom: 1.5rem;
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 768px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .services {
        &__flex {
            display: flex;
            flex-wrap: wrap;
            &-item {
                flex: 1 1 50%;
                margin-bottom: 20px;
            }
        }
    }
}